.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    min-height: calc(100vh - 350px);
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
}
